body {
  background-color: rgb(255, 255, 255);
  color: rgb(61, 70, 77);
  cursor: auto;
  direction: ltr;
  display: block;
  font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h3, a {
 color: rgb(102, 102, 102);
}

.hidden { display:none; }
.right { float:right; }

.header{
  border-bottom: rgb(171, 213, 247) solid 1px;
  height: 40px;
  padding: 0;
}

.header .header-text{
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  left: 50px;
  padding-top: 8px;
  position: absolute;
  right: 50px;
  text-align: center;
}

.todo-container {
  color: rgb(61, 70, 77);
  width: 100%;
}

.todo-content {
  bottom: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}

.sidebar {
  display: inline-block;
  font-size: 13px;
  line-height: 28px;
  overflow-y: auto;
  vertical-align: top;
  width: 199px;
  height: 100%;
  padding: 10px 20px;
}

.lists-container, .bookmarks-container {
  list-style: none;
}

.list-container {
  border-left-color: rgb(221, 221, 221);
  border-left-style: solid;
  border-left-width: 1px;
  background-color: rgb(240, 250, 255);
  color: rgb(61, 70, 77);
  left: 240px;
  line-height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
  max-height: 30000px;
  min-height: 100%;
}

.raw-task-container {
  box-sizing: border-box;
  border: rgb(171, 213, 247) solid 1px;
  display: block;
  margin-bottom: 20px;
}

.raw-task {
  height: 150px;
  width: 100%;
  border: 0px;
  resize: none;
  outline: none;
  font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
  font-size: 13px;
  padding: 5px;
}

.rendered-list {
  margin-top: 20px;
}

.task-container {
  background-color: rgb(255, 255, 255);
  border: rgb(221, 221, 221) 1px solid;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  min-height: 52px;
  line-height: 20px;
  margin-bottom: 20px;
}

.task-content {
  display: inline-block;
  padding: 0 10px;
}

.task-actions {
  float: right;
  margin: 15px;
}

.small-btn {
  background-color: rgb(102, 102, 102);
  border-color: rgba(255, 255, 255, 0.843137);
  border-left-radius: 2px;
  border-right-radius: 2px;
  border-style: none;
  border-width: 0px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.843137);
  outline-width: 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 3px 5px;
  margin-left: -5px;
}

.btn {
  background-color: rgb(66, 133, 244);
  border-color: rgba(255, 255, 255, 0.843137);
  border-left-radius: 2px;
  border-right-radius: 2px;
  border-style: none;
  border-width: 0px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.843137);
  display: inline-block;
  font-size: 12px;
  height: 34px;
  line-height: 18px;
  outline-width: 0px;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 137.125px;
  cursor: pointer;
}

.list-title .active {
  text-decoration: none;
  cursor: default;
  color: rgb(102, 102, 102);
}

.new-list-title {
  outline: none;
  width: 148px;
}
